<div class="jumbotron">
    <center>
        <h1>Welcome to my Pizza Shop</h1>
        
        <%= image_tag "http://www.101signwholesale.com/images/NEON/10407.gif" %>
        <br>
        
        <%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default img-responsive" %>
    </center>
    
</div>