<div class="jumbotron">
    <center>
        <h1>Welcome to my Pizza Shop</h1>
        
        <%= image_tag "//dret.net/lectures/mobapp-spring10/img/pizza-sign.jpg" %>
        <br>
        
        <%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default img-responsive" %>
    </center>
    
</div>